html
	margin 0 50px 50px
	background url("squared_metal.png")

.item
	background #ecf0f1
	list-style-type none
	border 1px solid #bdc3c7
	border-radius 6px
	padding 4px 4px
	width 299px

.user-info
	width 600px

input
	display block


.name, .phone, .city-state
	width 100px
	margin 0

.input-box
	width 215px
	height 24px
	background #bdc3c7