html {
  margin: 0 50px 50px;
  background: url("squared_metal.png");
}
ul,
p {
  background: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  padding: 50px 30px;
}
ul {
  padding: 50px 45px;
}
